<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interests</title>
</head>
<body>
<h1>Interests</h1>
<form action="summary" method="post" class="form-horizontal">

 <div class="form-group">
     <label class="col-sm-2 control-label">Select Interests</label>
     <div class="col-sm-4">
         <label><input type="checkbox" name="interests[]" value="Walking">Walking</label>
         <label><input type="checkbox" name="interests[]" value="Jogging">Jogging</label>
         <label><input type="checkbox" name="interests[]" value="Eating">Eating</label>

     </div>
     <div class="col-xs-3 ">
         <button class="btn btn-primary" type="submit">Next</button>
     </div>


 </div>
</form>
</div>
</body>
</html>