<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
</head>
<body>
<h1> Summary</h1>
<p>Name: {{ @SESSION.fname}} {{ @SESSION.lname}}</p>

<p>Gender: {{ @SESSION.gender}}</p>
<p>Age: {{ @SESSION.age}}</p>
<p>Phone: {{ @SESSION.phone}}</p>
<p>Email: {{ @SESSION.email}}</p>
<p>State: {{ @SESSION.state}}</p>
<p>Seeking: {{ @SESSION.seeking}}</p>
<p>Interests:  {{ @SESSION.interests}}</p>
<p>Biography:  {{ @SESSION.biography}}</p>




</body>
</html>